body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
	color: #fff !important;
}
.maxwidth {
	max-width: 1520px;
}
.bg {
	position: absolute;
	z-index: -1;
	font-weight: bold;
	font-size: 250px;
	color: #5959a2;
	opacity: 0.2;
	text-align: center;
	line-height: 256px;
	height: 100%;
	overflow: hidden;
	padding: 0 5px;
	max-width: 1520px;
}
.form-control {
	max-width: 489px;
}
[id$="prefix"] {
	max-width: 150px;
	text-transform: uppercase;
}
sup {
	font-size: 10px;
	color: #ffff3f;
	text-transform: uppercase;
}
input[type="text"] {
	color: #080869 !important;
}
input[type="checkbox"] ~ label {
	padding-left: 4px;
}
input[type="checkbox"] ~ label:hover {
	color: lightblue;
	cursor: pointer;
}
input[type="checkbox"]:hover {
	cursor: pointer;
}
input[type="checkbox"]:hover ~ label {
	color: lightblue;
}
.form-check {
	min-width: 82px;
}
.choices {
	background: rgba(255, 255, 255, 0.2);
	padding: 10px 5px 0 10px;
	border-radius: 5px;
	margin: 0 0 15px 0;
	max-width: 489px;
}
@supports (max-width: fit-content) {
	.choices {
		max-width: fit-content;
	}
}
.hide {
	display: none;
}
